.portal-filter-form{
  margin-bottom: 5px;
}
.lten-bt{
    background-color: #ccc;
    color:#000;
    border:0px;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 15px;
    box-sizing: border-box;
}
.lten-bt-primary{
    background-color:  #007bff;
    color:#fff;
}
.lten-bt-secondary{
    background-color: #fff;
    border:1px solid #000;
    color:#000;
}
.lten-bt-link{
    background-color: #fff;
    color:#000

}
.lten-bt-block{
    width: 100%;
}