<div class="row justify-content-end">
  <div class="col-8">

  </div>
  <div class="col-4 d-flex justify-content-end ">
    <button class="btn btn-primary text-button add-locale" (click)="openCreateLocaleModal()"
      *ngIf="isUserAppManager">Add Locale</button>
    <button class="btn btn-primary text-button app-onboard" (click)="openAppOnboardModal()"
      *ngIf="superAdmin">Onboard App</button>
  </div>
</div>
<table class="table table-striped textAlignCenter dashboard-table  mt-2">
  <tr>
    <th>
      <a href="#" class="link-txt" role="button" id="dropdownMenuLink" data-toggle="dropdown">Application <i
          class="bi bi-caret-down-fill"></i></a>

      <app-sort-filter (sortFilterFromChild)="sortFilterFromChild($event)" *ngIf="locales"
        [dropDownFilterData]="filterdropDownData?.ApplicationName" [currentSortedColumn]="currentSortColumn">
      </app-sort-filter>
    </th>

    <th>
      <a href="#" class="link-txt" role="button" id="dropdownMenuLink" data-toggle="dropdown">Assigned to <i
          class="bi bi-caret-down-fill"></i></a>

      <app-sort-filter (sortFilterFromChild)="sortFilterFromChild($event)" *ngIf="locales"
        [dropDownFilterData]="filterdropDownData?.PreferredName" [currentSortedColumn]="currentSortColumn">
      </app-sort-filter>
    </th>

    <th>
      <a href="#" class="link-txt" role="button" id="dropdownMenuLink" data-toggle="dropdown">Locale (Language-Country)
        <i class="bi bi-caret-down-fill"></i>
      </a>

      <app-sort-filter (sortFilterFromChild)="sortFilterFromChild($event)" *ngIf="locales"
        [dropDownFilterData]="filterdropDownData?.LocaleCode" [currentSortedColumn]="currentSortColumn">
      </app-sort-filter>
    </th>
    <th>
      <a href="#" class="link-txt" role="button" id="dropdownMenuLink" data-toggle="dropdown">Last Modified Date <i
          class="bi bi-caret-down-fill"></i>
      </a>

      <app-sort-filter (sortFilterFromChild)="sortFilterFromChild($event)" *ngIf="locales"
        [dropDownFilterData]="filterdropDownData?.UpdatedDate" [currentSortedColumn]="currentSortColumn">
      </app-sort-filter>
    </th>
    <th>
      <span>Upload / Download</span>
    </th>
    <th></th>
    <th></th>
    <th>
      <button class="btn btn-outline-primary btn-clearfilter" *ngIf="filterApplied" (click)="clearFilter()">Clear all
        filters <i class="bi bi-x"></i></button>
    </th>
  </tr>
  <tr *ngFor="let locale of locales; let i = index">
    <td>{{locale.ApplicationName}}</td>
    <td>{{locale.PreferredName}}</td>
    <td>{{locale.LocaleCode}}<br />{{locale.EnglishName}}</td>
    <td>{{locale.UpdatedDate | date : 'medium'}}</td>
    <td>
      <div *ngIf="locale.CanEdit">
        <input type="file" id="file-input-{{i}}" class="file-input" (change)="uploadLocale($event, locale)" />
        <button (click)="browseFile('file-input-', i)" class="img-button upload-arrow"></button>
        <button class="img-button download-arrow" (click)="downloadLocale(locale)"></button>
      </div>
    </td>
    <td>
      <div class="d-flex align-items-start">
        <div class="img-button edit-button"
          *ngIf="locale.IsAppManager || locale.IsSuperAppManager && locale.LocaleCode == enUsLocaleCode"
          (click)="openEditLocaleModal(locale)"></div>
        <div class="img-button delete-button" *ngIf="locale.IsAppManager && locale.LocaleCode !== enUsLocaleCode"
          (click)="openDeleteLocaleModal(locale)"></div>

      </div>
    </td>
    <td class="d-flex">
      <button class="btn btn-primary text-button" *ngIf="locale.CanEdit && locale.TotalAssetsCount > 0"
        (click)="navigateToLocaleAssets(locale.ApplicationLocaleId)">
        <span>Assets</span>
      </button>
      <span class="assetLinks btn btn-link" *ngIf="locale.CanEdit && locale.UploadedAssetCount > 0"
        (click)="navigateToAssetsLink(locale.ApplicationLocaleId)">
        {{locale.UploadedAssetCount}}
      </span>
    </td>
    <td>
      <button class="btn btn-primary text-button" *ngIf="locale.IsAppManager && locale.LocaleCode == enUsLocaleCode"
        [disabled]="locale.isAppManagerButtonDisabled" (click)="openAddAppManagerModal(locale)">
        <span>Add AppManager</span>
      </button>
    </td>
  </tr>
</table>

<app-empty-results *ngIf="locales && locales.length == 0 && filterApplied"></app-empty-results>

<div class="modal fade" id="addLocaleModal" tabindex="-1" role="dialog" aria-labelledby="addLocaleModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLocaleModalTitle">Add Locale</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">Application</div>
            <div class="col-md-9 ml-auto">
              <select [(ngModel)]="newLocale.ApplicationId"
                [ngClass]="{ hasError : highlightingError && !newLocale.ApplicationId}">
                <option value="undefined" selected disabled>Select Application</option>
                <option *ngFor="let application of applications" [ngValue]="application.Id">{{application.Name}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Locale</div>
            <div class="col-md-9 ml-auto">
              <select [(ngModel)]="newLocale.LocaleId"
                [ngClass]="{ hasError : highlightingError && !newLocale.LocaleId}">
                <option value="undefined" selected disabled>Select Locale</option>
                <option *ngFor="let locale of availablesLocales" [ngValue]="locale.Id">{{locale.EnglishName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Email</div>
            <div class="col-md-9 ml-auto">
              <input type="email" [(ngModel)]="newLocale.UserEmail"
                [ngClass]="{ hasError : highlightingError && !newLocale.UserEmail}" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveNewLocale()">Save and close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editLocaleModal" tabindex="-1" role="dialog" aria-labelledby="editLocaleModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLocaleModalTitle">Edit Locale</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">Application</div>
            <div class="col-md-9 ml-auto">
              <select disabled>
                <option selected>{{editLocale.ApplicationName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Locale</div>
            <div class="col-md-9 ml-auto">
              <select disabled>
                <option selected>{{editLocale.EnglishName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Email</div>
            <div class="col-md-9 ml-auto">
              <input type="email" [(ngModel)]="editLocale.UserEmail"
                [ngClass]="{ hasError : highlightingError && !editLocale.UserEmail}" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveEditLocale()">Save and close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteLocaleModal" tabindex="-1" role="dialog" aria-labelledby="deleteLocaleModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLocaleModalTitle">Remove Locale</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Deletion of locales cannot be reversed and all translation progress will be lost. Are you sure you want to
          delete?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteLocale()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addAppModal" tabindex="-1" role="dialog" aria-labelledby="addAppModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAppModalTitle">Onboard App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">Application</div>
            <div class="col-md-9 ml-auto">
              <input type="text" [(ngModel)]="newApp.ApplicationName"
                [ngClass]="{ hasError : highlightErrorAppModal && !newApp.ApplicationName  }" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Email</div>
            <div class="col-md-9 ml-auto">
              <input type="email" [(ngModel)]="newApp.UserEmail"
                [ngClass]="{ hasError : highlightErrorAppModal && !newApp.UserEmail}" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveNewApp()">Save and close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addAppManagerModal" tabindex="-1" role="dialog" aria-labelledby="addAppManagerModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAppManagerModalTitle">Add AppManager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">Application</div>
            <div class="col-md-9 ml-auto">
              <select disabled>
                <option selected>{{addAppManager.ApplicationName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Locale</div>
            <div class="col-md-9 ml-auto">
              <select disabled>
                <option selected>{{addAppManager.EnglishName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">Email</div>
            <div class="col-md-9 ml-auto">
              <input type="email" [(ngModel)]="addAppManager.UserEmail"
                [ngClass]="{ hasError : highlightingenUSError && !addAppManager.UserEmail}" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveAddAppManager()">Save and close</button>
      </div>
    </div>
  </div>
</div>