.lten-sort-filter-dropdown {
  padding: 10px;

  .title {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: 12px;
  }

  .bi {
    font-size: 20px;
  }

  .filter-sec {
    .form-check-label {
      font-size: 12px;
    }

    .portal-filter-form {
      input[type="checkbox"] {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: white;
        height: 16px;
        width: 16px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      }

      input[type="checkbox"]:checked {
        background: #007bff;
      }

      input[type="checkbox"]:hover {
        filter: brightness(90%);
      }

      input[type="checkbox"]:disabled {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
      }

      input[type="checkbox"]:after {
        content: '';
        position: relative;
        left: 34%;
        top: 1px;
        width: 4px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        display: none;
      }

      input[type="checkbox"]:checked:after {
        display: block;
      }

      input[type="checkbox"]:disabled:after {
        border-color: #7b7b7b;
      }
    }
  }


  .bi-active, .bi:hover {

    color: #007bff;
  }

  .filter-sec {
    max-height: 300px;
    overflow-y: auto;
  }
}
