<nav class="navbar navbar-expand-lg navbar-dark header">
  <div class="navbar-brand">
    <div class="leftPanel"></div>
    <span class="site-name" (click)="navigateToDashboard()">L10n Portal</span>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto pullRight">
      <li class="nav-item dropdown" [ngClass]="{ show: toggleDropDown}">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           (click)="openDropdDown()">
          <div class="user-image">{{userNameDisplay}}</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{ show : toggleDropDown}">
          <div class="user-image">
            <span class="user-initials">{{userNameDisplay}}</span>
          </div>
          <div class="userInfo" *ngIf="userDetails">
            <div class="name">{{userDetails.PreferredFullName}}</div>
            <div class="email">{{userDetails.Email}}</div>
          </div>
          <div class="cookie-btn">
            <!-- OneTrust Cookies Settings button start -->
            <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>
            <!-- OneTrust Cookies Settings button end -->
          </div>
          <div class="logout" (click)="logout()">Log Out</div>
        </div>
      </li>
    </ul>
  </div>
</nav>
