<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Handle requests up to 1 GB -->
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="server" />
				<remove name="x-powered-by" />
				<add name="X-Content-Type-Options" value="nosniff"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>